@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.animate{
  animation: animate infinite 5s;
  animation-direction: alternate-reverse;
  box-shadow: 0 0 20px 30px white;
}

@keyframes animate {
  0%{
    transform: translateX(0px) translateY(0px);
  }
  100%{
    transform: translateX(-100px) translateY(-100px);
  }
  
}


.animate2{
  animation: animate2 infinite 5s;
  animation-direction: alternate-reverse;
  box-shadow: 0 0 20px 30px white;
}

@keyframes animate2 {
  0%{
    transform: translateX(0px) translateY(0px);
  }
  100%{
    transform: translateX(100px) translateY(100px);
  }
  
}



.login-shadow{
  box-shadow: 10px 10px 60px 5px rgba(128,128,128,0.5);
}


.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}



.active{
  background-color: #6793fb;
}